 <form method="POST" action="/movies">

 <div class="form-group">
  <label for="title">Movie</label>
  <input type="text" name="title" class="form-control" id="title"  placeholder="Enter the movie title or keyword">
</div>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-search"></i> Search</button></a>
      </div>
    </div>
  </div>


</form>

