.welcome {
    font-family: 'Impact', sans-serif;
    text-align: center;
    color: white;
}

.message {
    color: red;
}

body {
    font-family: 'Rubik', sans-serif;
}


 .movie-column .card-header,
 .critics-column .card-header,
 .account-info .card-header,
 .my-reviews-column .card-header,
 .others-reviews-column .card-header,
 .most-reviewed-column .card-header {
    background-color: #0C4271;
    color:white;
    text-align: center;
 }

 .movie-column .card-body,
 .critics-column .card-body,
 .account-info .card-body,
 .my-reviews-column .card-body,
 .others-reviews-column .card-body,
 .most-reviewed-column .card-body,
 .movie-column .card-img-top {
    background-color: white;
    color: black;
 }

 img {
    max-width: 50%;
    height: auto;
}

.image{
    width: 150px;
    height: auto;
}


.navbar-dark .navbar-nav .nav-link {
    color: white ;
}

nav{
    background-color: #0C4271;
}
.account-info {
    margin: 0 auto; 
    float: none;  
    margin-bottom: 10px;  
}

 


.container {
    padding: 5% 1%;

}
.social-icon {
    margin: 20px 10px;
    color: #381D0A;
  }
 

.btn {
    margin: 5% 3% 5% 0;
    background-color: #0C4271;
}

form{

}